.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f3eeee;
}

.division {
  width: 2px;
  background: #000;
  height: 55vh;
}

.forms {
  display: flex;
  flex-direction: column;
  width: 25vw;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.forms form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.forms a {
  cursor: pointer;
  color: #228b22;
  text-decoration: none;
}
